
    h1 {
        display: block;
    }

    p {
        font-family: "Open Sans", sans-serif;
        display: block;
        width: 100%;
        margin-right: 10%;
        
    }

    nav{
        float: left;
        width: 35%;
        border: 10px solid white;
        background-color: dodgerblue;
        margin-right: 10%
        
    }

    #masthead {
    position: fixed;
    z-index: 99;
  
    /* Box-model */
    width: 100%;
float: right;

    /* Positioning */
    margin: 0 0 0 0;
/*overflow: auto;*/
  
    /* Typography */
    color: #fff;
    background: #fff;
  
    /* Visual */
    border-bottom: 2px solid #ccc;
  }

